footer {
  background-color: rgb(153, 14, 14);
  color: aliceblue;
  font-size: small;
  box-shadow: 0 0 10px rgb(153, 14, 14);
}
footer .redes-container {
  align-items: center;
}
footer .footer-img {
  margin: 5px;
  width: 30px;
  height: 30px;
}
footer .footer-der p {
  margin-top: 10px;
}
footer .footer-izq {
  margin-top: 10px;
}

* {
  padding: 0;
  margin: 0;
}

.bg-custom {
  background-color: rgb(153, 14, 14);
  box-shadow: 0 0 10px rgb(153, 14, 14);
}

/*botones de todo el sitio*/
.custom-btn {
  background-color: rgb(153, 14, 14);
  color: aliceblue;
  width: 200px;
  height: 40px;
  padding: 5px 10px;
}
.custom-btn:hover {
  background-color: rgb(240, 67, 67);
  transition: transform 0.1s;
  transform: scale(1.15);
  border: solid aliceblue 1px;
}

/*Cajas de formularios*/
.form-ini {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.caja-ini {
  width: 300px;
  border: 4px solid #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 110, 110);
  border-radius: 10px;
  box-shadow: 0 0 10px #ffffff;
}

.form-label {
  display: flex;
  justify-content: center;
  color: aliceblue;
}

.regis-ini {
  font-size: small;
  color: aliceblue;
}

main {
  background-color: rgb(243, 176, 176);
}
main div div {
  /*PAGINA INDEX*/
  /*PAGINA PRODUCTOS*/
}
main div div div .mediosdepago {
  display: flex;
  color: aliceblue;
  justify-content: center;
  padding-top: 10px;
  animation-name: sombra-texto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
@keyframes sombra-texto {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 10px #ffffff;
  }
  100% {
    text-shadow: none;
  }
}
main div div .masvendidos {
  display: flex;
  background-color: rgb(153, 14, 14);
  color: aliceblue;
  justify-content: center;
  margin-top: 20px;
  border: solid 2px rgb(255, 255, 255);
  border-radius: 10px;
}
main div div .card-body {
  background-color: rgb(241, 110, 110);
  border: 4px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px #ffffff;
  color: aliceblue;
}
main div .secciones {
  background-color: rgb(153, 14, 14);
  color: aliceblue;
  display: flex;
  justify-content: center;
  border: solid 2PX #ffffff;
  box-shadow: 0 0 10px #ffffff;
}

nav div a img {
  border-radius: 10px;
  width: 120px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
nav div div form button {
  background-image: url(../src/img/lupa.png);
  background-size: cover;
  width: 35px;
}
nav div div ul li a {
  color: aliceblue;
}

.nav-item:hover {
  transition: transform 0.1s;
  transform: scale(1.15);
}

.navbar-nav .nav-link {
  color: aliceblue;
  font-size: large;
}

.custom-search-input {
  width: 400px;
}

.custom-toggler {
  border-color: aliceblue;
  background-color: aliceblue;
}

.dropdown-item {
  color: aliceblue;
}

.dropdown {
  display: flex;
  justify-content: center;
}

.box-h1 {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  background-color: rgb(241, 110, 110);
  border: solid 1px aliceblue;
  border-radius: 5px;
  color: aliceblue;
}
.box-h1 h1 {
  font-size: 25px;
}
@media (max-width: 576px) {
  .box-h1 h1 {
    font-size: 18px;
    margin-top: 4px;
  }
}

/*# sourceMappingURL=style.css.map */
