@import "variables";
nav {
    div {
        a {
            img {
                border-radius: 10px;
                width: 120px;
                box-shadow: 0 0 10px rgb(255, 255, 255);
            }
        }
        div {
            form {
                .custom-search-input {
                    width: 400px;
                    @media (max-width: 576px) {
                        width: 100%;
                    }
                }
                button {
                    background-image: url(../src/img/lupa.png);
                    background-size: cover;
                    width: 35px;
                }
            }
            ul {
                li {
                    .nav-link {
                        color: $color;
                        font-size: large;
                    }
                    &:hover {
                        transition: transform 0.1s;
                        transform: scale(1.15);
                    }
                }
            }
            .navbar-nav{
                color: $color;
                font-size: large;
                @media (max-width: 576px) {
                    align-items: center;
                }
            }
        }
        .custom-toggler {
            border-color: aliceblue;
            background-color: aliceblue;
        }
    }
}
.navbar-nav .nav-link{
    color: $color;
    font-size: large;
}
