@import "variables";
@import "maps";
main {
    background-color: map-get($fondos , fondo-secundario);
    div {
        div {
            div {
                .mediosdepago {
                    display: flex;
                    color: $color;
                    justify-content: center;
                    padding-top: 10px;
                    animation-name: sombra-texto;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in;
                    animation-duration: 1s;
                    @keyframes sombra-texto {
                        0% {
                            text-shadow: none;
                        }
                        50% {
                            text-shadow: 0 0 10px #ffffff;
                        }
                        100% {
                            text-shadow: none;
                        }
                    }
                }
            }
            /*PAGINA INDEX*/
            .masvendidos {
                display: flex;
                background-color: map-get($fondos , fondo-principal);
                color: $color;
                justify-content: center;
                margin-top: 20px;
                border: solid 2px rgb(255, 255, 255);
                border-radius: 10px;
            }
            /*PAGINA PRODUCTOS*/
            .card-body {
                background-color: map-get($fondos , fondo-terciario);
                border: 4px solid #ffffff;
                border-radius: 10px;
                box-shadow: 0 0 10px #ffffff;
                color: $color;
            }
        }
        .secciones {
            background-color: map-get($fondos , fondo-principal);
            color: $color;
            display: flex;
            justify-content: center;
            border: solid 2PX #ffffff;
            box-shadow: 0 0 10px #ffffff;
        }
    }
}
